# Python virtual environment
.venv-stock-server

# node_modules
node_modules/

# Stock historical data
stock_server_v1/data/stock_historical_prices_2019-2024/*.csv
stock_server_v1/data/raw data/*.csv
stock_server_v1/data/*.csv

# Reddit client data
stock_server_v1/data/.reddit_credentials.json

# Database credential
stock_server_v1/.db_credential.json

# pyc files
*.pyc
__pycache__/
package-lock.json
